.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}
.heading:hover{
background-color: darkblue;
}
.note{
    font-size: 18px;
    color: black;
}
.note:hover{
    background-color: 78white;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width:100%;
    background-color: grey;
    line-height:3 ;
    text-align: center;
}
.copy_right_footer:hover{
    background-color: black;
    }
canvas{
    border-width: 10px;
    border-style: ridge;
    border-color: gray;
}